body {
    background-color: #fff;
}
/*ModalMenu component*/

.list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0 !important;
   
  }
  .list {
    font-size: 30px;
    padding-top: 20px;
    transition: transform .2s;
  }
  /* .home {
    border-bottom: 1px solid #F4DB7D;
  }
  .about {
    border-bottom: 1px solid #9DAAF2;
  }
  .contact {
    border-bottom: 1px solid ;
  } */
  .home:hover, .about:hover, .contact:hover {
    transform: scale(1.1);
  }